<!doctype html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js">
  </script>
  <script {% block page_specific_script_src %}{% endblock %}></script>

  <title>{% block title %}{% endblock %} | Judgemental Eye</title>
</head>
<body>
  {% block bodytitle %}{% endblock %}
  <ul>
    {% for msg in get_flashed_messages() %}
      <li>{{ msg }}</li>
    {% endfor %}
  </ul>
  <hr>
  {% if 'userid' in session %}
    <form id="form-logout" method=GET action="/users/log-out">
      <button type="submit" id="logout">Log Out</button>
    </form>
  {% endif %}
  {% block bodycontent %}{% endblock %}
</body>
</html>