{% extends 'base.html' %}
{% block page_specific_script_src %}src="/static/js/movie-page.js"{% endblock %}
{% block title %}{{ movie.title }}{% endblock %}
{% block bodytitle %}<h1>Movie Details</h1>{% endblock %}
{% block bodycontent %}

  <h2>Title: {{ movie.title }} | Average Score: {{ rating }}</h2>
  <p>Year released: {{ movie.released_at.year }}</p>
  <p><a href="{{ movie.imdb_url }}">Go to IMDB!</a></p>
  {% if 'userid' in session %}

    {% if u_rating != None %}
      <p id="urating">You rated this movie a {{ u_rating[0] }}.</p>
    {% endif %}

    <form id="form_rate_movie">
      <label for="score">Rate this movie: (pick a number 1-5) </label>
      <input type="text" id="score" name="score" size="1" required />
      <input type="hidden" id="movie_id" name="movie_id" value="{{movie.movie_id}}"/>
      <input type="hidden" id="user_id" name="user_id" value="{{ session['userid'] }}"/>
      <span id="rating_num_text" ></span>
      <input type="submit" id="submit_rating" disabled />
    </form>

  {% else %}

    <form id="form-movie-login" action="/users/user-login" method=GET>
      <input type="hidden" id="url-redir" name="url-redir" value="/movies/{{movie.movie_id}}" />
      <input type="submit" id="submit-movie-login" value="Log In" />
    </form>
    <p>Log in to rate this movie.</p>

  {% endif %}
  

{% endblock %}