{% extends 'base.html' %}
{% block page_specific_script_src %}src="/static/js/movie-page.js"{% endblock %}
{% block title %}{{ movie.title }}{% endblock %}
{% block bodytitle %}<h1>Movie Details</h1>{% endblock %}
{% block bodycontent %}

  <h2>Title: {{ movie.title }} | Average Score: {{ rating }}</h2>
  <p>Year released: {{ movie.released_at.year }}</p>
  <p><a href="{{ movie.imdb_url }}">Go to IMDB!</a></p>
  {% if 'userid' in session %}
    {% if u_rating != None %}
      <p>You rated this movie a {{ u_rating }}.</p>
    {% endif %}
    <form id="form_rate_movie" method=POST action="/movies/rating">
      <label for="rating_num">Rate this movie: (pick a number 1-5) </label>
      <input type="text" id="rating_num" name="ratenum" required />
      <input type="hidden" name="movie_id" value="{{movie.movie_id}}"/>
      <input type="hidden" name="user_id" value="{{ session['userid'] }}"/>
      <span id="rating_num_text" ></span>
      <input type="submit" id="submit_rating" disabled />
    </form>
  {% else %}
    <p><a href="/users/user-login" title="Log In">Log in</a> to rate this movie.</p>
  {% endif %}
  
  

{% endblock %}